@model Academico.Models.Aluno
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (var formulario = Html.BeginForm("Salvar", "Aluno"))
{
    @Html.HiddenFor(a => a.ID)
    <div>
        @Html.DisplayTextFor(a => a.Nome)
        @Html.EditorFor(a => a.Nome)
    </div>
    <div>
        <inut typeof="submit" value="Salvar"/>
    </div>
}

